@use "./extends.scss";
*,
*::after,
*::before {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.main {
    width: 100%;
}

.main-container {
    width: 100%;
}

html {
    background-color: #f0f0f1;
}

#wrapper {
    height: auto;
    min-height: 100%;
    width: 100%;
    position: relative;
    color: white;
    font-size: 15px;
    font-family: "Open Sans", "Helvetica Neue", helvetica, arial, sans-serif;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    align-items: center;
}

a {
    text-decoration: none;
}

ul,
ol {
    list-style: none;
}

.news {
    transition: background-size 0.4s ease-in-out;
    position: relative;
    z-index: 1;
    &:before {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        height: 50%;
        background: linear-gradient(to top, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0));
        z-index: 0;
    }
    @extend %flex;
    flex-direction: column;
    justify-content: flex-end;
    border: 7px solid #fff;
}

.news-container {
    margin-bottom: 30px;
    position: relative;
    z-index: 1;
    transition: margin-bottom 0.4s ease-in-out;
    a {
        color: #fff;
    }
}

.author-published {
    @extend %align-elements;
    img {
        border-radius: 50%;
        margin-right: 10px;
    }
    .author,
    .published {
        margin-left: 20px;
    }

    .author {
        @extend %align-elements;
    }
}
