@use "./extends.scss";
header {
    width: 100%;

    .header-container {
        width: 100%;
    }

    .header-menu {
        background-color: #000000;
        height: 50px;
        @extend %p20;
        padding-top: 10px;
        padding-bottom: 10px;
        @extend %align-elements;
        justify-content: space-between;
    }

    .banner {
        height: 251px;
        background-color: red;
        border-bottom: 50px solid black;
        padding-top: 15px;
        @extend %p20;
        h1 {
            line-height: 1.2;
            font-weight: 700;
            font-size: 2.875rem;
        }
        p {
            max-width: 488px;
            font-size: 1rem;
            line-height: 1.7;
        }
    }

    .date {
        @extend %align-elements;
    }
}

.current-date {
    @extend %align-elements;
    p {
        margin-left: 10px;
    }
}

.current-time {
    background-color: red;
    margin-left: 20px;
    border-radius: 2px;
    margin-top: 1px;
    @extend %align-elements;
    &::before {
        font-family: "Font Awesome 6 Free";
        content: "\f017";
    }
    p {
        font-weight: 600;
    }
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 3px;
    padding-bottom: 3px;
}

.socials {
    @extend %align-elements;
    p {
        font-size: 1rem;
        line-height: 1;
    }
    ul {
        font-family: "Font Awesome 6 Brands";
        font-weight: 400;
        @extend %align-elements;
        i {
            color: white;
            margin-left: 12px;
        }
    }
}

%align-elements {
    display: flex;
    align-items: center;
}
