@use "./extends.scss";
header {
    .current-menu-item {
        @extend %gray-link;
    }

    .menu-item:hover {
        @extend %gray-link;
    }

    %gray-link {
        transition:
            background-color 0.2s ease,
            transform 0.2s ease;
        height: 68px;
        background-color: #202020;
        display: inline-flex;
        justify-content: center;
        align-items: center;
    }
    #menu-header-menu {
        @extend %flex;
        flex-wrap: wrap;
        align-items: center;
    }
    .menu-item {
        text-transform: uppercase;
        font-size: 1.2rem;
        font-weight: 700;
        letter-spacing: 1px;
        padding: 0 1.125rem;
    }
    a {
        color: #fff;
    }

    width: 100%;

    .header-container {
        width: 100%;
    }
    .header-menu {
        background-color: #000000;
        height: 70px;
        @extend %p200;
        padding-top: 10px;
        padding-bottom: 10px;
        @extend %align-elements;
        justify-content: space-between;
    }

    .banner {
        height: 211px;
        background-color: red;
        padding-top: 15px;
        @extend %p200;
        h1 {
            line-height: 1.2;
            font-weight: 700;
            font-size: 2.875rem;
        }
        p {
            max-width: 488px;
            font-size: 1rem;
            line-height: 1.7;
        }
    }

    .date {
        @extend %align-elements;
    }
}

.current-date {
    @extend %align-elements;
    p {
        margin-left: 10px;
    }
}

.current-time {
    background-color: red;
    margin-left: 20px;
    border-radius: 2px;
    margin-top: 1px;
    @extend %align-elements;
    &::before {
        font-family: "Font Awesome 6 Free";
        content: "\f017";
    }
    p {
        font-weight: 600;
    }

    #time {
        margin-left: 6px;
    }
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 3px;
    padding-bottom: 3px;
}

.socials {
    @extend %align-elements;
    p {
        font-size: 1rem;
        line-height: 1;
    }
    ul {
        font-family: "Font Awesome 6 Brands";
        font-weight: 400;
        @extend %align-elements;
        i {
            color: white;
            margin-left: 12px;
        }
    }
}
