*,
*::after,
*::before {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.main {
  width: 1570px;
}

html {
  background-color: #f0f0f1;
}

#wrapper {
  height: auto;
  min-height: 100%;
  width: 100%;
  position: relative;
  color: white;
  font-size: 15px;
  font-family: "Open Sans", "Helvetica Neue", helvetica, arial, sans-serif;
  font-weight: 500;
}

ul,
ol {
  list-style: none;
}
