header .header-menu, header .banner {
  padding-left: 200px;
  padding-right: 200px;
}

header #menu-header-menu, header .header-menu, header .date, .current-date, .current-time, .socials, .socials ul {
  display: flex;
}

header .header-menu, header .date, .current-date, .current-time, .socials, .socials ul {
  align-items: center;
}

header {
  width: 100%;
}
header .current-menu-item, header .menu-item:hover {
  transition: background-color 0.2s ease, transform 0.2s ease;
  height: 68px;
  background-color: #202020;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
header #menu-header-menu {
  flex-wrap: wrap;
  align-items: center;
}
header .menu-item {
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: 700;
  letter-spacing: 1px;
  padding: 0 1.125rem;
}
header a {
  color: #fff;
}
header .header-container {
  width: 100%;
}
header .header-menu {
  background-color: #000000;
  height: 70px;
  padding-top: 10px;
  padding-bottom: 10px;
  justify-content: space-between;
}
header .banner {
  height: 211px;
  background-color: red;
  padding-top: 15px;
}
header .banner h1 {
  line-height: 1.2;
  font-weight: 700;
  font-size: 2.875rem;
}
header .banner p {
  max-width: 488px;
  font-size: 1rem;
  line-height: 1.7;
}
.current-date p {
  margin-left: 10px;
}

.current-time {
  background-color: red;
  margin-left: 20px;
  border-radius: 2px;
  margin-top: 1px;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 3px;
  padding-bottom: 3px;
}
.current-time::before {
  font-family: "Font Awesome 6 Free";
  content: "\f017";
}
.current-time p {
  font-weight: 600;
}
.current-time #time {
  margin-left: 6px;
}

.socials p {
  font-size: 1rem;
  line-height: 1;
}
.socials ul {
  font-family: "Font Awesome 6 Brands";
  font-weight: 400;
}
.socials ul i {
  color: white;
  margin-left: 12px;
}
